body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.header-image {
    background-image: url(images/donation15.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;


}

.align-center {
    text-align: center;
    padding-top: 15%;
}

h1 {
    font-size: 65px;
    color: white;
    margin-bottom: 0;

}

p {
    font-size: 18px;
    color: white;
}

.button {
    background-color: tomato;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

h2 {
    text-align: center;
    font-size: 45px;
    color: black;
    padding-top: 2%;
    margin: 0;
}

#paragraph {
    color: gray;
    font-size: 18px;
    text-align: center;
}

.amount {
    display: flex;
    justify-content: center;
}

.doller-text {
    color: #707070;
    font-size: 30px;
    background-color: #FAFAFA;
    margin: 10px;
    padding: 40px;
    font-weight: 700;
    width: 20%;
    justify-content: center;
    display: flex;
    border-radius: 5px;

}

#bg-color {
    background-color: #ff59592a;
    border: 2px solid #FF5959;
}

input {
    display: block;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    border-bottom: 1px solid #B3B3B3;
    text-align: center;
    width: 50%;
    padding-bottom: 20px;
}

#secoud-button {
    margin-left: 46%;

}

#top {
    padding-top: 5%;
}

.box-group {
    width: 30%;
    padding: 20px 40px;
    margin-left: 12px;
}

h3 {
    font-size: 24px;
    color: black;
}

#second-paragraph {
    font-size: 18px;
    color: #707070;
    text-align: center;
}

.second-part-paragraph {
    color: #707070;
    text-align: left;
    font-size: 16px;
}

.second-part {
    color: #707070;
    font-size: 16px;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #fffefa;
    padding-top: 1%;
}

#card-bg {
    background-color: rgb(255, 255, 224);

}

#second-card-bg {
    background-color: rgb(255, 248, 237);
}

#Your {
    text-align: left;
    color: black;

}

#third-paragraph {
    color: #707070;
    font-size: 18px;
    margin-bottom: 30px;
}

.Your-Donation {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
}

.your-donation-text {
    width: 50%;
}

.two {
    padding: 10%;

}